body {
    background-color: rgb(225, 220, 220);
}

h1 {
  margin-top: 150px;   
  font-size: 50px;
  text-align: center; 
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 90vw;
    max-width: 400px;
    aspect-ratio: 1 / 2;
    overflow: hidden;
    border-radius: 40px;
    background: white;
    gap: 0;
    margin: 100px auto 0 auto;
}

.photo-grid2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 90vw;
    max-width: 400px;
    aspect-ratio: 2 / 3;
    overflow: hidden;
    border-radius: 40px;
    background: white;
    gap: 0;
    margin: 100px auto 0 auto;
}



.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.photo.top-left {
    border-top-left-radius: 15px;
}

.photo.top-right {
    border-top-right-radius: 15px;
}

.photo.bottom-left {
    border-bottom-left-radius: 15px;
}

.photo.bottom-right {
    border-bottom-right-radius: 15px;
}

.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s, box-shadow 0.3s; /* アニメーションを滑らかに */
    cursor: pointer; /* クリックできる感じを表示 */
}

/* ホバーした時 */
.photo:hover {
    transform: translateY(-10px); /* 上に浮かせる */
    box-shadow: 0 10px 20px rgba(0,0,0,0.3); /* 影で浮き感 */
}

/* 説明エリア（最初は非表示） */
.photo-detail {
  display: none;
  margin: 40px auto;
  max-width: 900px;
  gap: 30px;
  align-items: center;
}

/* クリックされた写真だけ表示 */
.photo-detail:target {
  display: flex;
}

/* 詳細画像 */
.photo-detail img {
  width: 600px;
  border-radius: 30px;
}

/* 説明文 */
.description {
  max-width: 400px;
}

.description h2 {
  font-size: 35px;
}

.description p {
  font-size: 18px;
}

.description p a {
  color: black;
}


@media all and (max-width: 1000px) {
  .photo-detail {
    flex-direction: column;
    text-align: center;
  }

  .photo-detail img {
    width: 80%;
  }
}

/* スマホ版：縦並び */
@media all and (max-width: 670px) {
  .photo-detail {
    flex-direction: column;
    text-align: center;
  }

  .photo-detail img {
    width: 80%;
  }
}