/* タブレット向けレイアウト */
@media all and (max-width: 1101px) {
    .top-wrapper {
        background-size: 300%;
        background-position: center top;
        min-height: 100vh;
        padding: 120px 15px 80px;
        background-repeat: no-repeat;
    }

    .lesson {
        width: 50%;
        margin-bottom: 50px;
    }

    footer {
        text-align: center;
    }

    .top-wrapper h1 {
        font-size: 32px;
    }

    .heading h2 {
        font-size: 20px;
    }
}

/* スマホ向けレイアウト */
@media all and (max-width: 1100px) {

    .top-wrapper {
        background-size: 400%;
        background-position: center top;
        min-height: 100vh;
        padding: 120px 15px 80px;
        background-repeat: no-repeat;
    }

    .top-wrapper h1 {
    margin-top: 130px; 
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 5px;
    font-family: 'Pacifico', cursive;
    font-style: italic;
    color: rgb(255, 255, 255);
    /*-webkit-text-stroke: 1.5px black; */
}

    .lesson {
        width: 100%;
    }

    .btn {
        width: 100%;
    }

    .instagram {
        margin-bottom: 10px;
    }

    .music {
        margin-bottom: 10px;
    }

    .menu-icon {
        display: block;
        font-size: 26px;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 1001;
        line-height: 1;
    }

    .header-right {
        display: block;
        position: fixed;
        top: 0;
        right: -220px;
        width: 220px;
        height: 100vh;
        background: rgba(51, 51, 51, 0.9);
        padding-top: 60px;
        transition: 0.3s;
        z-index: 1000;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }

    .header-right a {
        display: block;        /* 縦並び */
        width: 100%;           /* PC用floatを無効化 */
        float: none;
        color: white;
        padding: 15px;
        border-bottom: 1px solid #555;
        box-sizing: border-box;
    }

    .header-right.active {
        right: 0;
    }

    body.no-scroll {
        overflow: hidden;
    }

    .top-wrapper h1 {
        font-size: 24px;
    }

    .top-wrapper p {
        font-size: 14px;
    }

    #typing-text {
  font-size: 32px;
  letter-spacing: 3px;
  font-family: 'Pacifico', cursive;
  white-space: nowrap;
  border-right: 2px solid #fff; /* カーソル */
  padding-right: 5px;
  animation: cursor 1s steps(1) infinite;
  white-space: pre-line;
}
}